body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    color: #F5F5F5;
    background-color: #F5F5F5;
}

.banner {
    width: 100%;
    height: 100vh;   
    background-image: url("/images/pixelCouncil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

header {
    height: 10vh;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: rgba(0,0,0,0.2);

    padding: 1em;
    display: flex;
    z-index: 99;
    border-bottom: solid 2px black;
    flex-direction: row;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.logo img {
    height: 100%;
    margin-left: 5em;
    display: inline-block;
}

.title {
    display: inline-block;
    font-size: 3em;
    margin-left: 1em;
    font-weight: 200;
}

.nav {
    display:flex;
    align-items: right;
    margin-left: auto;
    margin-right: 5em;
}

.nav ul{
    list-style: none;
    text-align: right;
}

a:link {
    color: gray;
}

a:visited {
    color: grey;
}

.content {
    width: 100%;
    margin-top: 100vh;
}

.council {
    margin-top: 2%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    color: black;
    font-size: 5em;
}

.council::before ,.council::after{
    content: "";
    display: block;
    height: 1px;
    background-color: black;
}


.n {
    height: 300px;
    color: black;
}

